@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}


li,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    font-size: 16px;

    font-family: 'TheJamsil5Bold';

}

#wrap {
    width: 100%;
    height: auto;
}

/* 네비게이션 버튼 */
#button {
    width: 20%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    top: -20px;
    z-index: 10;
    transform: translateX(-20%);
}

.buttonicon {
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: #ffffff;
    background-clip: padding-box;
}

.buttonicon:hover,
.pix {
    border: 2px solid #ffffff;
    cursor: pointer;
}

.hamburger {
    padding: 0 5px 0;
    position: absolute;
    right: 0;
    left: 100%;
    z-index: 11;
}

.hamburger .line {
    width: 20px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger-1.is-active .line:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(2) {
    transform: translateY(-6px) rotate(-45deg);
}

/* 헤더 네비게이션 */

header {
    width: 100%;



}

nav {

    height: 69px;
    padding: 0 140px;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 6;
}

#nav1 img {
    width: 100%;
    height: 40px;
    padding: 15px 5px;
}

#nav1 {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 10px;
}

#nav1 li {
    color: #bbbbbb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

#nav1 li:hover {
    cursor: pointer;
    color: #fff;
}

#nav2 {
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between
}

#nav2 img {
    width: 18px;
    height: 22px;
    margin: -7px 0;
}

#nav2 img:hover {
    cursor: pointer;
}

#nav2 ul {
    display: flex;
    justify-content: space-around;
}

#nav2 li {
    color: #bbb;

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

#nav2 li:hover {
    cursor: pointer;
    color: #fff;
}

.subnav {
    width: 100%;
    height: 60px;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: black;

}

.subnav #nav3 {
    align-items: center;
    justify-content: start;

}

#nav3 ul {
    display: flex;
    width: 90%;
}

#nav3 ul li {
    font-size: 12px;
    padding: 0 10px;
    color: #7c7c7c;

}

#nav3 ul li:hover {
    color: #fff;
    cursor: pointer;
}

.subnav_box1 {
    width: 190px;
}

#nav3 a {
    width: 74px;
    height: 28px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav3 a span {
    color: black;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


/* 메인 비디오 페이지 */

.vidio {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}


.vidio video{
    width: 100%;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vidio p {
    font-size: 54px;
    position: absolute;
    width: 30%;
    top: 570px;
    left: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vidio a {
    font-size: 16px;
    position: absolute;
    width: 30%;
    top: 700px;
    left: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
}

.vidio a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

.vidio a:hover::after {
    width: 100%;
}

/* 개요 서브 페이지1 */

.sub_page1 {
    width: 100%;
    height: 120vw;
    margin: 50px 0;
    background-image: url(../img/mainslider.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    position: relative;

}


#sub_page_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

#sub_page_img img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#pc {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 700px;
    left: 150px;
}



#p_pc {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 1500px;
    left: 150px;
}

#p_pc span {
    font-size: 14px;
    color: #7c7c7c;
}





/* 개요 서브 페이지 2 */

.sub_page2 {
    width: 100%;
    height: 60vw;
    margin: 50px 0 0 0;

}

.sub_page2 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub_page2 p:nth-of-type(1) {
    position: relative;
    width: 30%;
    top: 60%;
    left: 7%;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub_page2 p:nth-of-type(2) {
    position: relative;
    width: 30%;
    top: 61%;
    left: 7%;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 개요 서브 페이지3 */

.sub_page3 {
    width: 100%;
    height: 55vw;
}

.sub_page3 img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub_page3 p:nth-of-type(1) {
    position: relative;
    width: 30%;
    top: 68%;
    left: 7%;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub_page3 p:nth-of-type(2) {
    position: relative;
    width: 30%;
    top: 69%;
    left: 7%;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* 외장 디자인 페이지1 */

.sub_design_page1 {
    width: 100%;
    height: 50vw;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: end;

}

/* .design_page_img{
    width: 800px;
    height: 600px;
    background-image: url(../img2/slider360do1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center center;
    transition: 0.5s;
    position: fixed;;
    top: 50%;
    left: 50%;
    transform:translate(-50% ,-50%)rotateY(0deg);} */

.sub_design_page1 img {
    width: 80%;
    height: 90%;
}

/* 컬러 디자인 페이지 */
.color_page1 {
    width: 100%;
    height: 65vw;
    background-color: #A3B6D2;
    display: flex;
    flex-direction: column;
    position: relative;
}

#color img {
    width: 77%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 30%;

}

.colorbtn1 {
    width: 80%;
    height: 50px;
    margin: 30px 140px 0;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.colorbtn2 {
    width: 60%;
    margin: 0 140px;
}

.colorbtn2 li {
    line-height: 60px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.colorbtn2 li {
    color: #ddd;
}

.colorbtn2 li:hover {
    color: white;
}

.colorbtn1,
.colorbtn2 li:hover {
    cursor: pointer;
}

#color li:not(:first-of-type) {
    display: none;
}

#colortext1,
#colortext2 {
    color: #000;
    position: absolute;
    font-size: 13px;
}

#colortext1 {
    left: 60%;
    top: 10%;
}

#colortext2 {
    left: 60%;
    top: 13%;
}

/* 실내 페이지 1*/

.inside {
    width: 100%;
    height: 60vw;
    background-image: url(../img2/inside.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    position: relative;
}

.inside p:nth-child(1) {
    width: 50%;
    font-size: 18px;
    color: #7c7c7c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 60px 140px 30px;
}

.inside p:nth-child(2) {
    width: 50%;
    font-size: 42px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 140px;
}

/* <!-- 실내 디자인 페이지2 --> */

.inside2 {
    width: 100%;
    height: 460vw;
    background-color: #7c7c7c;
    display: flex;
    position: sticky;
    
}

.inside_box1 {
    width: 50%;
    height: auto;
    background-color: black;
}

.inside_box2 {
    width: 50%;
    height: auto;
    background-color: black;
}

.inside_box_item {
    width: 100%;
    height: 10.3%;
    /* background-color: aquamarine; */
    margin: 30px 0;
    
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inside_box_item p {
    color: #fff;
    width: 500px;
    height: auto;
    line-height: 50px;
    position: sticky;
    left: 150px;
    top: 250px;
}

.inside_box_item span {
    color:white;
    font-weight: bold;
}

.inside_box2 .inside_box_item img{width: 100%; height: 100%;}

.inside_vidio{width: 100%; }

.inside_box2 .inside_box_item:nth-of-type(5){height: 7%;}

.inside_box1 .inside_box_item:nth-of-type(5){height: 7%;}

.inside_box2 .inside_box_item:nth-of-type(6){height: 7%;}

.inside_box1 .inside_box_item:nth-of-type(6){height: 7%;}

/* 퍼포먼스 페이지 */

.pupopage{width: 100%; height: 120vw; }

.pupo_img{width: 100%; height: 50%;position:relative }

.pupo_img img{width: 100%; height: 100%; }

.pupo_img p{font-size: 28px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position: absolute;  left: 5%;}

.pupo_img p:nth-of-type(1){top: 95%; }

.pupo_img p:nth-of-type(2){top: 195%;}


/* 퍼포먼스 페이지2 */


.pupopage2{width: 100%; height: 90vw; position: relative; }

.pupopage2 h2{width: 300px; padding:5% 0 0 10%; font-size: 44px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} 

.Gallery_img{ width: 100%; height: 80%; display: flex; flex-wrap: wrap; justify-content: center;}

.Gallery_img_box{width: 30%;height: 30%; flex-wrap: wrap; margin: 5px; overflow: hidden;}

.Gallery_img button{width: 100%; height: 100%;}

.Gallery_img button img{width: 100%; height: 100%; transform: scale(1.3); transition: 0.3s;}

.Gallery_img button img:hover{transform: scale(1.6); }

.Gallery_img img{cursor: pointer;}

.Gallery_img_box:nth-child(1){width: 60%;}

.Gallery_img_box:nth-child(3){width: 39.5%;}

.Gallery_img_box:nth-child(4),.Gallery_img_box:nth-child(5){width: 25%;}

.Gallery_img_box:nth-child(7){ width: 60.5%; height: 47%;}

#Gallery_img_box2{display: flex; flex-direction: column;width: 30%; margin-right: 9px;}

#Gallery_img_box2 .Gallery_img_box{width: 100%;height: 50%; flex-wrap: wrap; margin: 5px;}

#Gallery_img_box2 img{width: 100%; height: 100%;}

/* 퍼포먼스 페이지2 팝업창 */

.pupopage_pop{width: 100%; height: 1000px; background-color: black; position: absolute;
z-index: 12;top: 0; overflow: hidden; display: none; position: fixed;}

.pupopage_pop ul{width: 800%; display: flex;height: 100%; margin: 150px auto;}

.pupopage_pop_img li{width: 100%; height: 100%;}


.pupopage_pop span{height: 50px; font-size: 38px; color: #fff; position: absolute;
line-height: 50px; cursor: pointer; background-color: rgba(0,0,0,0.6); }

.pupopage_pop span:hover{color: black; background-color: #ddd;}

.prev{left: 0; padding: 5px 6px 5px 6px; border-radius: 0 10px 10px 0;top: 43%;}

.next{right: 0; padding: 5px 6px 5px 6px; border-radius: 10px 0 0 10px;top: 43%;} 

.popx{right: 20px; top: 15%; padding: 5px; border-radius: 5px;}


/* 푸터 페이지 */
footer {
    width: 100%;

}

#footer_top {

    height: 59px;
    padding: 0 140px;
}

#footer_top ul li img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

#footer_top ul {
    display: flex;
    width: 10%;
    height: 59px;
    justify-content: space-around;
    align-items: center;
}

#footer_topsub {
  
    height: 78px;
    padding: 0 140px;
    display: flex;
    align-items: end;
}

#footer_topsub p {
    color: #ffffff;
    font-size: 14px;
}

#footer_main {

    height: 878px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 120px;
}

.footer_main_item {
    width: 25%;

    display: flex;
    box-sizing: border-box;
    padding: 20px;
}

.footer_main_item ul li:nth-child(1) {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.footer_main_item li {
    margin: 18px 0;
    color: #bbbbbb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}


.footer_main_item ul li:hover {
    color: #ffffff;
    cursor: pointer;
}



#footer_botton1 {

    height: 90px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
}

#footer_botton1 ul {
    display: flex;
}

#footer_botton1 ul li {
    margin: 0 10px;
    color: #bbbbbb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

#footer_botton1 ul li img {
    width: 20px;
    height: 20px;
}

#footer_botton1 ul li:nth-child(3) {
    color: #c36f51;
}

#footer_botton1 ul li:nth-child(3):hover {
    color: #c36f51;
}

#footer_botton1 ul li:hover {
    cursor: pointer;
    color: white;
}

#footer_botton2 {

    height: 90px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
}

#footer_botton2 ul {
    display: flex;
}

#footer_botton2 ul li {
    margin: 0 10px;
    color: #bbbbbb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

#footer_botton2 ul li:hover {
    cursor: pointer;
    color: white;
}

#footer_last {
    width: 100%;
    height: 203px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#footer_last img {
    width: 100px;
    height: 40px;
}

#footer_last p {
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
    color: #cccccc;
}

